@model IEnumerable<Country>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">@item.Name</li>
        }
     
    </ul>
</div>
