@model CountryVM

<div class="container mt-5">
    <h1 class="text-center">Country Detail</h1>
</div>

<div class="d-flex">
    <h1>Name:</h1>
    <h1>@Model.Name</h1>
</div>

<div class="d-flex">
    <h1>Population:</h1>
    <h1>@Model.Population</h1>
</div>